.autocompleteTagInput {
  display: flex;
  position: relative;
  width: 100%;

  & .tagsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    border: 1px solid var(--grey-100);
    border-radius: 0.5rem;
    padding: 1rem;

    & .input {
      all: unset;
      color: var(--pink-500);
      cursor: pointer;
      padding: 5px;
    }

    & .tag {
      background-color: var(--pink-500);
      color: var(--bg-contrast);
      padding: 0.5rem 0.75rem;
      border-radius: 50px;
      display: flex;
      align-items: center;
      gap: 0.3rem;

      & button {
        background: none;
        border: none;
        color: var(--pink-100);
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: color 300ms ease;

        &:hover {
          color: var(--bg-contrast);
        }
      }
    }
  }

  & .suggestionsList {
    background-color: var(--bg-contrast);
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--grey-100);
    border-radius: 1rem;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    width: 100%;
    max-width: 10rem;
    z-index: 10;

    & li {
      padding: 1rem;
      cursor: pointer;

      &:first-child {
        border-radius: 1rem 1rem 0 0;
      }
      &:last-child {
        border-radius: 0 0 1rem 1rem;
      }
      &:only-child {
        border-radius: 1rem;
      }

      transition: background-color 300ms ease;

      &:hover {
        background: var(--grey-100);
      }
    }
  }
}
